<p><%= form_for ([@essay, @source]) do |f| %></p>

  <p><%= f.label :title %></p>
  <p><%= f.text_field :title %></p>

  <p><%= f.label :citation %></p>
  <p><%= f.text_field :citation %></p>

  <p><%= f.label :description %></p>
  <p><%= f.text_area :description %></p>

  <p><%= f.label :readings %></p>
  <p><%= f.text_area :readings %></p>

  <p><%= f.label :link %></p>
  <p><%= f.text_field :link %></p>

  <%= f.submit :class => "btn waves-effect orange lighten-2"%>

<%end%>
