<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>

    <nav>
      <div class="nav-wrapper purple lighten-3">
        <ul class="left">
          <li><%= link_to "Home", essays_path %></li>
          <li><%= link_to "New Essay!", new_essay_path %></li>
        </ul>
      </div>
    </nav>

  </body>
</html>
