<!-- TODO roundup: -->

<!-- TODO: favicon -->
<!-- TODO: over break: migrate to Postgresql? -->
<!-- TODO: BACKUP SYSTEM SERIOUSLY LAURA WHAT HAPPENS WHEN YOU LOSE ALL YOUR DAMN WORK -->

<!--TODO: fix carousel to look not fuzzy/not be a hack job???? -->

<!-- TODO: Toggle research hide show? -->

<!-- TODO: Better format source -->
<!-- TODO: Sources index that acts as works cited? -->


<!-- TODO: Ordering for sections?-->
<!-- TODO: place for editing of just section.content that keeps display of section.outline? -->
<!-- TODO: section status marker? (rough, cleaned, finished, etc?) -->
<!-- TODO: "cleanest" field for whatever you want to be compiled in your final essay? -->

<!-- TODO: Print display -->
<!-- TODO: place that tells you how many days you have till it's due, how many weeks, etc? -->
<!-- TODO: System for logging time? -->
<!-- TODO: Independent of Essays, place to put general resources? EX: notes on MLA, structure of a French essay, etc etc.
** Expandable Sidebar? -->


<% @title="Essay Planner" %>

<div id="index-wrapper" class="wrapper">

  <h1 class="center">Essay Planner!</h1>

  <%if @essays.any?%>

    <div id="index-carousel" class="carousel">

      <%@essays.each do |essay|%>

        <div class="card carousel-item index-card">

          <div class="card-image waves-effect waves-light">
            <%= image_tag("chalk.jpg", :class => "activator") %>
          </div>

          <div class="card-content">
            <h3 class="card-title activator"> <%= essay.title %>
              <i class="material-icons right">more_vert</i>
            </h3>
          </div>
          <div class="card-action">

          </div>

          <div class="card-reveal">
            <h3 class="card-title activator"> <%= essay.title %>
              <i class="material-icons right">close</i>
            </h3>
            <p class="text-purple lighten-3">Due: <%= essay.due_date %></p>
            <%unless essay.prompt.blank? %>
              <h5>Prompt:</h5>
              <p><%= markdown(essay.prompt) %></p>
              </br></br>
            <%end%>
            <%unless essay.question.blank? %>
              <h5>Thesis / Driving Question:</h5>
              <p><%= markdown(essay.question) %></p>
            <%end%>

            <%= link_to "More", essay_path(essay),
                :class => "btn waves-effect purple lighten-3 bottom" %>

            <%= link_to "Delete", essay_path(essay), method: :delete,
                data: {confirm: "Are you sure you want to delete this essay?"},
                :class => "btn waves-effect purple lighten-3 bottom" %>
          </div>

        </div>

    <%end%>
    </div>

  <%end%>
  <div class="clearfix"></div>
</div>

<script>
    $('.carousel').carousel();
</script>
